@import url('./normalize.css');
@import url('./_variables.css');

body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar sepecific styles */
.navbar {
  background-color: transparent;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: padding 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
}

.navbar.navbar-scrolled {
  background-image: var(--gradient);
  padding: 10px;
  z-index: 4;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  max-width: calc(100% - 50px);
  padding: 0 25px;
  margin: 0 auto;
  color: white;
}

.logo {
  background: url('../assets/images/logo-white.svg');
  background-repeat: no-repeat;
  margin-left: -10px;
}

.logo img {
  opacity: 0;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar ul {
  padding: 0;
  list-style-type: none;
  margin-left: 30%;
  white-space: nowrap;
}

.nav-link {
  display: inline-block;
  margin: 0 12px;
}

.nav-link a {
  text-decoration: none;
  transition: transform 1s ease-in;
  color: white;
}

.nav-link a:hover {
  transform: translateX(10px);
}

.nav-action {
  display: flex;
  align-items: center;
}

.nav-action button {
  border-radius: 50px;
  width: 110px;
  padding: 5px 10px;
  color: var(--primary);
  background-color: white;
  border: none;
  outline: none;
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.nav-action div {
  position: relative;
  cursor: pointer;
}

.nav-action div a {
  color: white;
}

.nav-action div::after,
.nav-action div::before {
  content: '';
  position: absolute;
  right: -20px;
  width: 8px;
  height: 0.5px;
  border: 1px solid white;
  transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.nav-action div::before {
  top: 4px;
}

.nav-action div::after {
  bottom: 4px;
}

.nav-action div:hover::before {
  top: 2px;
}

.nav-action div:hover::after {
  bottom: 2px;
}

.lg {
  display: none;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 25px 50px;
  }

  .navbar.navbar-scrolled {
    padding: 10px 50px;
  }

  .logo {
    margin-left: -25px;
  }

  .lg {
    display: block;
  }
}

/* End of navbar styles */

/* Hero section */
.hero {
  background-image: var(--gradient);
  padding-top: 50px;
  height: calc(100% - 60px);
  color: white;
  overflow: hidden;
}
.container {
  width: 1200px;
  max-width: calc(100% - 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  margin-top: 30px;
  width: 100%;
}


.hero-text {
  flex: 1 0 50%;
  text-align: center;
  z-index: 3;
}

.hero-text h1 {
  font-size: 1.87rem;
  opacity: 0.5;
}

.hero-text h2 {
  font-size: 1.5rem;
}

.hero-text button,
.stack button {
  margin: 20px 0;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  width: 200px;
  height: 60px;
}

@media only screen and (min-width: 700px) {
  .container {
    max-width: calc(100% - 100px);
    padding: 0 50px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-img {
    flex: 1 0 50%;
    z-index: 2;
  }

  .hero-img {
    transform: translateX(-25%);
  }
  
  .hero-img img {
    width: 140%;
  }

  .hero-text {
    text-align: left;
  }

  .hero-text h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 800px) {

}


@media only screen and (min-width: 992px) {
  .hero-img img {
    width: 150%;
  }
}

/* End of hero section */

/* Products section */

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  width: 580px;
  max-width: 100%;
  margin: 20px auto;
}

.products {
  margin: 20px auto;
  overflow: hidden;
}

.product {
  margin: 20px;
  position: relative;
}

.product-cta {
  text-align: center;
}

.product-cta p {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-cta a {
  color: black;
}

.product-video {
  position: relative;
}

.product-video img {
  width: 300px;
  max-width: 80%;
  margin: 0 auto;
}

.product-video span {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  z-index: -1;
  animation: load 1s ease-in-out;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: scale(0);
}

.orange {
  background-image: linear-gradient(225deg, rgb(255, 218, 143), rgb(198, 36, 60));
}

.green {
  background-image: linear-gradient(45deg, rgb(120, 255, 214), rgb(0, 121, 145));
}

.blue {
  background-image: linear-gradient(315deg, rgb(10, 101, 244), rgb(0, 227, 255));
}

.images {
  display: block;
  margin: 100px 0;
}

.animate {
  animation: load 2.5s ease-in-out;
}

.animate + span {
  opacity: 1;
  transform: scale(1);
}

@keyframes load {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (min-width: 800px) {
  .title {
    font-size: 3rem;
    text-align: left;
    margin: 60px auto;
  }

  .products {
    margin: 50px auto;
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .product-cta {
    flex: 0 0 40%;
    text-align: left;
  }
  .product-cta p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .product-video span {
    width: 500px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
  }

  .product-video img {
    width: 100%;
  }
}
/* End of products section */

/* Recognition Section */
.recognition {
  background-color: #f5f7fa;
  padding: 20px 0;
}

.cards {
  display: flex;
  -webkit-overflow-scrolling: touch;
  flex-wrap: wrap;
  overflow-x: auto;
  /* justify-content: space-around; */
}

.card {
  flex: 0 0 auto;
  width: 250px;
  height: 310px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}

.card div {
  margin: 20px 0;
}

.card-img {
  margin: 30px 0;
}

.card-title {
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .cards {
    flex-wrap: nowrap;
  }

  .card {
    margin: 10px;
  }

  .card:nth-child(even) {
    margin-top: 50px;
  }

  .subtitle {
    font-size: 1.8rem;
  }
}
/* End of recognition section */

/* Sprints section */

.sprints {
  padding: 40px 0;
}

.title.text {
  font-size: 1.5rem;
}

.subtitle {
  width: 600px;
  max-width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.steps {
  margin: 40px 0;
}

.step {
  width: 300px;
  max-width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.step-name {
  font-size: 1.1rem;
  margin-top: 40px;
}

.step p:not(.step-name) {
  opacity: 0.6;
}

.research::after,
.design::after {
  content: '';
  background-image: url('../assets/images/path1.svg');
  width: 160px;
  height: 30px;
  opacity: 0.8;
  position: absolute;
}

.research::after {
  transform: scale(0.5) rotate(90deg);
  top: calc(100% + 40px);
}

.design {
  margin: 160px auto 160px;
}

.design::after {
  transform: scale(0.5) rotate(270deg);
  top: calc(100% + 40px);
}

.sprints-end {
  margin: 0 auto;
  text-align: center;
}

.sprints-end hr {
  width: 120px;
  height: 0.2px;
  border: none;
  background-color: #000;
  opacity: 0.2;
  margin: 20px auto;
}

.sprints-end p {
  margin: 40px 0 20px;
  opacity: 0.6;
}

.sprints-end button {
  background-color: var(--primary);
  color: #fff;
  border-radius: 40px;
  width: 230px;
  height: 60px;
  text-align: center;
  max-width: 100%;
  border: none;
  margin: 20px auto;
}

@media only screen and (min-width: 800px) {
  .title.text {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.8rem;
    text-align: left;
    margin: 0 auto 15%;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }

  .research::after,
  .design::after {
    width: 160px;
    height: 30px;
    left: calc(100% - 40px);
    top: calc(20% - 15px);
    opacity: 0.3;
  }

  .design {
    margin: 10px auto;
  }

  .research::after {
    transform: rotate(0deg);
  }

  .design::after {
    transform: rotate(180deg);
    top: calc(10% - 15px);
  }
}

/* End of sprints section */

/* Stack Sections */
.stack-sub {
  font-size: 1.3rem;
  width: 600px;
  margin: 0 auto;
  padding-left: 20px;
  max-width: calc(100% - 20px);
  text-align: center;
  font-weight: 500;
}

.stack .title.text {
  margin-top: 20px;
}

.stack-img img {
  width: 670px;
  max-width: calc(100% + 40px);
  margin-left: -20px;
  position: relative;
}

.stack ul {
  list-style-type: none;
  padding: 0;
}

.stack ul li {
  opacity: 0.8;
  margin: 12px 0;
  font-size: 1.1rem;
}

.stack-name {
  font-weight: 500;
  font-size: 1.1rem;
  opacity: 0.8;
}

.blue--text {
  color: var(--primary);
  opacity: 0.9;
}

.container-left {
  margin-left: 0;
  padding-left: 0;
}

.stack button {
  background-color: var(--primary);
  color: #fff;
}

@media only screen and (min-width: 800px) {
  .stack-sub {
    font-size: 2rem;
    text-align: left;
    margin-left: 20%;
    padding-left: 0;
  }

  .stack .title.text {
    margin-left: 20%;
  }

  .our-stack {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .stacks {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .stacks > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
/* End of stack sections */