@import url('./normalize.css');
@import url('./_variables.css');

body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar sepecific styles */
.navbar {
  background-color: transparent;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: padding 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
}

.navbar.navbar-scrolled {
  background-image: var(--gradient);
  padding: 10px 50px;
  z-index: 4;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  max-width: calc(100% - 50px);
  padding: 0 25px;
  margin: 0 auto;
  color: white;
}

.logo {
  background: url('../assets/images/logo-white.svg');
  background-repeat: no-repeat;
  margin-left: -10px;
}

.logo img {
  opacity: 0;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar ul {
  padding: 0;
  list-style-type: none;
  margin-left: 30%;
  white-space: nowrap;
}

.nav-link {
  display: inline-block;
  margin: 0 12px;
}

.nav-link a {
  text-decoration: none;
  transition: transform 1s ease-in;
  color: white;
}

.nav-link a:hover {
  transform: translateX(10px);
}

.nav-action {
  display: flex;
  align-items: center;
}

.nav-action button {
  border-radius: 50px;
  width: 110px;
  padding: 5px 10px;
  color: var(--primary);
  background-color: white;
  border: none;
  outline: none;
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.nav-action div {
  position: relative;
  cursor: pointer;
}

.nav-action div a {
  color: white;
}

.nav-action div::after,
.nav-action div::before {
  content: '';
  position: absolute;
  right: -20px;
  width: 8px;
  height: 0.5px;
  border: 1px solid white;
  transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.nav-action div::before {
  top: 4px;
}

.nav-action div::after {
  bottom: 4px;
}

.nav-action div:hover::before {
  top: 2px;
}

.nav-action div:hover::after {
  bottom: 2px;
}

.lg {
  display: none;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 25px 50px;
  }

  .logo {
    margin-left: -25px;
  }

  .lg {
    display: block;
  }
}

/* End of navbar styles */

/* Hero section */
.hero {
  background-image: var(--gradient);
  padding-top: 50px;
  height: calc(100% - 60px);
  color: white;
  overflow: hidden;
}
.container {
  width: 1200px;
  max-width: calc(100% - 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  margin-top: 30px;
  width: 100%;
}


.hero-text {
  flex: 1 0 50%;
  text-align: center;
  z-index: 3;
}

.hero-text h1 {
  font-size: 1.87rem;
  opacity: 0.5;
}

.hero-text h2 {
  font-size: 1.5rem;
}

.hero-text button {
  margin: 20px 0;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  width: 200px;
  height: 60px;
}

@media only screen and (min-width: 700px) {
  .container {
    max-width: calc(100% - 100px);
    padding: 0 50px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-img {
    flex: 1 0 50%;
    z-index: 2;
  }

  .hero-img {
    transform: translateX(-25%);
  }
  
  .hero-img img {
    width: 140%;
  }

  .hero-text {
    text-align: left;
  }

  .hero-text h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 800px) {

}


@media only screen and (min-width: 992px) {
  .hero-img img {
    width: 150%;
  }
}

/* End of hero section */

/* Products section */

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  width: 550px;
  max-width: 100%;
  margin: 20px auto;
}

.products {
  margin: 20px auto;
  overflow: hidden;
}

.product {
  margin: 20px;
  position: relative;
}

.product-cta {
  text-align: center;
}

.product-cta p {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-cta a {
  color: black;
}

.product-video {
  position: relative;
}

.product-video img {
  width: 300px;
  max-width: 80%;
  margin: 0 auto;
}

.product-video span {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: linear-gradient(225deg, rgb(255, 218, 143), rgb(198, 36, 60));
  display: block;
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  z-index: -1;
  animation: load 1s ease-in-out;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: scale(0);
}

.images {
  display: block;
  margin: 100px 0;
}

.animate {
  animation: load 2.5s ease-in-out;
}

.animate + span {
  opacity: 1;
  transform: scale(1);
}

@keyframes load {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (min-width: 800px) {
  .title {
    font-size: 3rem;
    text-align: left;
    margin: 60px auto;
  }

  .products {
    margin: 50px auto;
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .product-cta {
    flex: 0 0 40%;
    text-align: left;
  }
  .product-cta p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .product-video span {
    width: 500px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
  }

  .product-video img {
    width: 100%;
  }
}
/* End of products section */